.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dash {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}